:root {
    --color-primary: #c16181;
    --color-secondary: #4e4e4e;
    --font-primary: 'system-ui';
    --font-secondary: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary) !important;
    color: var(--color-secondary);
}

.text-primary {
    color: var(--color-primary) !important;
}

.text-secondary {
    color: var(--color-secondary) !important;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-secondary {
    background-color: var(--color-secondary) !important;
}

a {
    text-decoration: none;
}

.link-primary {
    color: var(--color-primary) !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-style-none{
    list-style: none;
    padding-left: 0;
}
.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}